*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10.1px;
}

.container{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform:translateZ(-40px) scale(5);
}

.foreground{
    transform:translateZ(-20px) scale(3);
}

.background, .foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

h1{
    position: absolute;
    color: white;
    top: 13rem;
    font-size: 6.5rem;
    font-family:'Lucida Handwriting';
    letter-spacing: 4px;
    text-shadow: 0 0 10px;
}
section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}

.secheading{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.dottext{
    font-size: 1.7rem;
    padding: 2.1rem 3.5rem;
    text-align: right;
    margin: 1rem 0;
    color: darkgrey;
    word-spacing: 4px;

}

.bg{
    position: relative;
    width: 100%;
    background-attachment:fixed;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.desc{
    background-color: white;
    padding: 0.4rem 2rem;
    position: absolute;
    color: #423c3c;;
    top: 15%;
    left: 50%;
    font-weight: bold;
    font-size: 2.4rem;   
    transform: translateX(-50%);
}
.bg1{
    background-image: url(./assets/sport-1.jpg);
}

.bg2{
    background-image: url(./assets/sport-2.jpg);
}

.bg3{
    background-image: url(./assets/sport-3.jpg);
}

.bg4{
    background-image: url(./assets/image1.jpg);
}

